*{
    margin: 0;
    padding: 0;

}

body,html{
    background: url(bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

li{
    float: left;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #333;
    font-size: 20px;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background: #111;
}

.dropdown-content{
    position: absolute;
    display: none;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content>a{
    background:#333;
}
